* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;
}

.calculator {

    width: 430px;

    padding: 40px;

    background: #f3f3f3;

    border-radius: 15px;

    box-shadow:
        10px 10px 25px #d5d5d5,
        -10px -10px 25px white;
}

.display {

    width: 100%;

    height: 80px;

    border: none;

    border-radius: 12px;

    margin-bottom: 35px;

    background: #ececec;

    box-shadow:
        inset 5px 5px 10px #ddd,
        inset -5px -5px 10px white;
}

.buttons {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 15px;
}

button {

    height: 85px;

    border: none;

    border-radius: 12px;

    font-size: 30px;

    cursor: pointer;

    background: #f3f3f3;

    box-shadow:
        5px 5px 12px #d4d4d4,
        -5px -5px 12px white;
}

.operator {
    background: black;
    color: white;
}

.clear {
    background: red;
    color: white;
}

button:hover {
    transform: scale(.97);
}